[package]
name = "tre"
version = "0.3.0"
authors = ["Daniel Duan <daniel@duan.ca>"]
edition = "2018"
license = "MIT"
description = "Tree command, improved."
documentation = "https://github.com/dduan/tre/blob/master/README.md"
readme = "README.md"
homepage = "https://github.com/dduan/tre"
repository = "https://github.com/dduan/tre"
keywords = ["cli"]
categories = ["command-line-utilities"]

[dependencies]
atty = "0.2"
getopts = "0.2"
slab = "0.4"
termcolor = "1"
walkdir = "2"
